<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gb.garbage.mapper.GarbageClassifyMapper">
	<!-- Garbage 所有查询列 -->
	<sql id="QUERY_COLUMN_LIST">
		<![CDATA[id, classify_id as classifyId, image_url as imageUrl, parent_id as parentId, name_en as nameEn, name_cn as nameCn, classify_level as classifyLevel,
          classify_type as classifyType, status, yn, created, modified]]>
	</sql>

	<!-- Garbage 查询列来源表-->
	<sql id="QUERY_FROM_TABLE"><![CDATA[FROM garbage_classify]]></sql>

	<select id="selectByName" parameterType="String" resultType="GarbageClassify">
		<![CDATA[SELECT]]>
		<include refid="QUERY_COLUMN_LIST"/>
		<include refid="QUERY_FROM_TABLE"/>
		<![CDATA[WHERE user_name = #{nameCn}]]>
	</select>

	<!-- 更新列字段,只要不为NULL则更新,除开主键列 -->
	<sql id="UPDATE_COLUMN_SET">
		<set>
			<if test="classifyId != null and classifyId != ''"><![CDATA[ classify_id = #{classifyId},]]></if>
			<if test="imageUrl != null and imageUrl != ''"><![CDATA[ image_url = #{imageUrl},]]></if>
			<if test="parentId != null and parentId != ''"><![CDATA[ parent_id = #{parentId},]]></if>
			<if test="nameEn != null and nameEn != ''"><![CDATA[ name_en = #{nameEn},]]></if>
			<if test="nameCn != null and nameCn != ''"><![CDATA[ name_cn = #{nameCn},]]></if>
			<if test="classifyLevel != null and classifyLevel != ''"><![CDATA[ classify_level = #{classifyLevel},]]></if>
			<if test="classifyType != null and classifyType != ''"><![CDATA[ classify_type = #{classifyType},]]></if>
			<if test="status != null and status != ''"><![CDATA[ status = #{status},]]></if>
			<if test="yn != null and yn != ''"><![CDATA[ yn = #{yn},]]></if>
			<if test="created != null and created != ''"><![CDATA[ created = #{created},]]></if>
		</set>
	</sql>

	<!-- 修改记录通过主键 -->
	<update id="updateById" parameterType="GarbageClassify" >
		<![CDATA[UPDATE garbage_classify]]>
		<include refid="UPDATE_COLUMN_SET"/>
		<![CDATA[WHERE id = #{id}]]>
	</update>

	<select id="selectById" parameterType="Long" resultType="GarbageClassify">
		<![CDATA[SELECT]]>
		<include refid="QUERY_COLUMN_LIST"/>
		<include refid="QUERY_FROM_TABLE"/>
		<![CDATA[WHERE id = #{id}]]>
	</select>

	<!-- 插入记录 -->
	<insert id="insert" parameterType="GarbageClassify" >
		<![CDATA[
			INSERT INTO garbage_classify (id,classify_id,image_url,parent_id,name_en,name_cn,classify_level,classify_type,status,yn,created)
			VALUES (#{id},#{classifyId},#{imageUrl},#{parentId},#{nameEn},#{nameCn},#{classifyLevel},#{classifyType},#{status},#{yn},now())
		]]>
	</insert>

	<!-- 删除记录,主键IN(array) -->
	<delete id="deleteByArrayKey" parameterType="Array" >
		<![CDATA[DELETE FROM garbage_classify WHERE id IN]]>
		<foreach collection="array" item="id" open="(" separator="," close=")">
			<![CDATA[#{id}]]>
		</foreach>
	</delete>

	<!-- 删除记录,主键id -->
	<delete id="deleteById" parameterType="Long" >
		<![CDATA[DELETE FROM garbage_classify WHERE id = #{id}]]>
	</delete>
</mapper>