<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gb.garbage.mapper.GarbageUserTransactionMapper">
	<!-- Garbage 所有查询列 -->
	<sql id="QUERY_COLUMN_LIST">
		<![CDATA[id, user_id as userId, amount, trans_type as transType, status, yn, created, modified]]>
	</sql>

	<!-- Garbage 查询列来源表-->
	<sql id="QUERY_FROM_TABLE"><![CDATA[FROM garbage_user_transaction]]></sql>


	<!-- 更新列字段,只要不为NULL则更新,除开主键列 -->
	<sql id="UPDATE_COLUMN_SET">
		<set>
			<if test="userId != null and userId != ''"><![CDATA[ user_id = #{userId},]]></if>
			<if test="amount != null and amount != ''"><![CDATA[ amount = #{amount},]]></if>
			<if test="transType != null and transType != ''"><![CDATA[ trans_type = #{transType},]]></if>
			<if test="status != null and status != ''"><![CDATA[ status = #{status},]]></if>
			<if test="yn != null and yn != ''"><![CDATA[ yn = #{yn},]]></if>
			<if test="created != null and created != ''"><![CDATA[ created = #{created},]]></if>
		</set>
	</sql>

	<!-- 修改记录通过主键 -->
	<update id="updateById" parameterType="GarbageUserTransaction" >
		<![CDATA[UPDATE garbage_user_transaction]]>
		<include refid="UPDATE_COLUMN_SET"/>
		<![CDATA[WHERE id = #{id}]]>
	</update>

	<select id="selectById" parameterType="Long" resultType="GarbageUserTransaction">
		<![CDATA[SELECT]]>
		<include refid="QUERY_COLUMN_LIST"/>
		<include refid="QUERY_FROM_TABLE"/>
		<![CDATA[WHERE id = #{id}]]>
	</select>

	<!-- 插入记录 -->
	<insert id="insert" parameterType="GarbageUserTransaction" >
		<![CDATA[
			INSERT INTO garbage_user_transaction (id,user_id,amount,trans_type,status,yn,created)
			VALUES (#{id},#{userId},#{amount},#{transType},#{status},#{yn},now())
		]]>
	</insert>

	<!-- 删除记录,主键IN(array) -->
	<delete id="deleteByArrayKey" parameterType="Array" >
		<![CDATA[DELETE FROM garbage_user_transaction WHERE id IN]]>
		<foreach collection="array" item="id" open="(" separator="," close=")">
			<![CDATA[#{id}]]>
		</foreach>
	</delete>

	<!-- 删除记录,主键id -->
	<delete id="deleteById" parameterType="Long" >
		<![CDATA[DELETE FROM garbage_user_transaction WHERE id = #{id}]]>
	</delete>
</mapper>