<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
                PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
                "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

    <settings>
        <!-- 全局映射器启用缓存 -->
        <setting name="cacheEnabled" value="true" />
        <!-- 对于未知的SQL查询，允许返回不同的结果集以达到通用的效果 -->
        <setting name="multipleResultSetsEnabled" value="true" />
        <!-- 允许使用列标签代替列名 -->
        <setting name="useColumnLabel" value="true" />
        <!-- 数据库超过25000秒仍未响应则超时 -->
        <setting name="defaultStatementTimeout" value="25000" />
    </settings>

    <typeAliases>
        <typeAlias alias="Integer" type="java.lang.Integer" />
        <typeAlias alias="Long" type="java.lang.Long" />
        <typeAlias alias="HashMap" type="java.util.HashMap" />
        <typeAlias alias="LinkedHashMap" type="java.util.LinkedHashMap" />
        <typeAlias alias="ArrayList" type="java.util.ArrayList" />
        <typeAlias alias="LinkedList" type="java.util.LinkedList" />
        <typeAlias alias="Array" type="java.lang.reflect.Array" />
        <typeAlias alias="String" type="java.lang.String" />
        <typeAlias alias="GarbageUser" type="com.gb.garbage.domain.dao.GarbageUser"/>
        <typeAlias alias="Garbage" type="com.gb.garbage.domain.dao.Garbage"/>
        <typeAlias alias="GarbageClassify" type="com.gb.garbage.domain.dao.GarbageClassify"/>
        <typeAlias alias="GarbageOrder" type="com.gb.garbage.domain.dao.GarbageOrder"/>
        <typeAlias alias="GarbageRecyclerOrderRecord" type="com.gb.garbage.domain.dao.GarbageRecyclerOrderRecord"/>
        <typeAlias alias="GarbageRiderOrderRecord" type="com.gb.garbage.domain.dao.GarbageRiderOrderRecord"/>
        <typeAlias alias="GarbageUserAddress" type="com.gb.garbage.domain.dao.GarbageUserAddress"/>
        <typeAlias alias="GarbageUserAmount" type="com.gb.garbage.domain.dao.GarbageUserAmount"/>
        <typeAlias alias="GarbageUserTransaction" type="com.gb.garbage.domain.dao.GarbageUserTransaction"/>
    </typeAliases>

    <mappers>
        <mapper resource="mybatis/mapper/GarbageUserMapper.xml"/>
        <mapper resource="mybatis/mapper/GarbageMapper.xml"/>
        <mapper resource="mybatis/mapper/GarbageClassifyMapper.xml"/>
        <mapper resource="mybatis/mapper/GarbageOrderMapper.xml"/>
        <mapper resource="mybatis/mapper/GarbageRecyclerOrderRecordMapper.xml"/>
        <mapper resource="mybatis/mapper/GarbageRiderOrderRecordMapper.xml"/>
        <mapper resource="mybatis/mapper/GarbageUserAddressMapper.xml"/>
        <mapper resource="mybatis/mapper/GarbageUserAmountMapper.xml"/>
        <mapper resource="mybatis/mapper/GarbageUserTransactionMapper.xml"/>
    </mappers>
</configuration>